## for Local Build

# Mandatory Vars

NAME='Guru Ji'
## Name of receiver

PIC='sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Guruji'
## A Nickname for more personalization

HBD_MSG='May your birthday be filled with joy and happiness'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2026-06-10'
## Active Date in YYYY-MM-DD format
